# Datasets
*.csv
*.json
*.jsonl
!src/config/fraud_detection_rules.json
!docs/

# Binaries/Installers
*.dmg
*.pkl
models/

# Logs and temporary files
logs/
catboost_info/
__pycache__/
.DS_Store
.matplotlib/
.cache/

# Folders containing large data
data/
"data:/"
week6/logs/
